<div
  class="h-screen w-full background-page flex align-items-center justify-content-center"
>
  <p-card styleClass="w-20rem h-21rem">
    <div class="flex flex-row justify-content-center mb-5">
      <span class="text-2xl font-bold font-style adjust-position"
        >Money Control App</span
      >
    </div>
    <form [formGroup]="loginForm" class="flex grid formgrid p-fluid h-14rem">
      <div class="col-12">
        <span>
          <label>Email</label>
          <input pInputText pInputText formControlName="email" />
        </span>

        <span>
          <label>Password</label>
          <input pInputText formControlName="password" type="password" />
        </span>
      </div>

      <div class="col-12">
        <div>
          <p-button
            styleClass="p-button-raised"
            label="Login"
            (onClick)="onLoginSubmit()"
            [disabled]="!loginForm.valid"
          ></p-button>
        </div>
      </div>
    </form>
    <div class="flex align-items-center justify-content-center">
      <p class="text-123 mt-3">
        Join us! <a class="register-link" (click)="register()">Register</a> now.
      </p>
    </div>
  </p-card>
</div>

<p-toast></p-toast>

<app-spinner *ngIf="showSpinner"></app-spinner>
