.text-123 {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif; /* Aplica a fonte da Apple ou uma alternativa próxima */
  font-weight: bold; /* Deixe o texto em negrito para maior destaque */
  color: white;
}

.register-link {
  text-decoration:underline;
  transition: color 0.3s ease; /* Adiciona uma transição suave de cor */
}

.register-link:hover {
  color: rgb(146, 51, 146); /* Mude para a cor desejada ao passar o mouse */
  cursor: pointer;
}
