<div
  class="h-screen w-full bg-blue-100 flex align-items-center justify-content-center"
>
  <p-card styleClass="w-20rem h-25rem">
    <div class="flex flex-row justify-content-center mb-5">
      <span class="text-2xl font-bold font-style adjust-position"
        >Money Control App</span
      >
    </div>
    <form [formGroup]="loginForm" class="flex grid formgrid p-fluid h-20rem">
      <div class="col-12 mt-3">
        <span class="p-float-label">
          <input pInputText pInputText formControlName="email" />
          <label htmlFor="email">Email</label>
        </span>

        <span class="p-float-label mt-4">
          <input
            pInputText
            pInputText
            formControlName="password"
            type="password"
          />
          <label htmlFor="password">Senha</label>
        </span>
      </div>

      <div class="col-12">
        <div>
          <p-button
            styleClass="p-button-rounded"
            label="Entrar"
            (onClick)="onLoginSubmit()"
            [disabled]="!loginForm.valid"
          ></p-button>
        </div>
        <div class="mt-3">
          <p-button
            label="Cadastrar"
            styleClass="p-button-text p-button-rounded"
            (onClick)="register()"
          ></p-button>
        </div>
      </div>
    </form>
  </p-card>
</div>

<p-toast></p-toast>
