<div
  class="h-screen w-full background-page flex align-items-center justify-content-center"
>
  <div class="w-20rem h-19rem bg-gray-50 p-3 border-round-lg">
    <div class="flex flex-row justify-content-center mb-5">
      <h1 class="text-2xl font-bold font-style adjust-position">Money App</h1>
    </div>
    <form [formGroup]="loginForm" class="flex grid formgrid p-fluid h-14rem">
      <div class="col-12 h-9rem flex flex-column justify-content-around">
        <span>
          <label>Email</label>
          <input pInputText pInputText formControlName="email" />
        </span>

        <span>
          <label>Senha</label>
          <input pInputText formControlName="password" type="password" />
        </span>
      </div>

      <div class="col-12">
        <div>
          <p-button
            styleClass="p-button-raised"
            label="Entrar"
            (onClick)="onLoginSubmit()"
            [disabled]="!loginForm.valid"
          ></p-button>
        </div>
      </div>
    </form>
    <div class="flex align-items-center justify-content-center">
      <p class="text-123 mt-3">
        <p-button
          label="Cadastrar"
          styleClass="p-button-link text-white"
          (onClick)="register()"
        ></p-button>
      </p>
    </div>
  </div>
</div>

<p-toast></p-toast>

<app-spinner *ngIf="showSpinner"></app-spinner>
