<div [formGroup]="registryForm" class="flex flex-column gap-1 h-auto">
  <div>
    <label> Descrição</label>
    <input
      pInputText
      formControlName="description"
      class="w-full"
      placeholder="Insira uma descrição"
    />
  </div>

  <div>
    <label>Tipo</label>
    <p-dropdown
      placeholder="Selecione um tipo"
      formControlName="type"
      [options]="optionsType"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full"
    >
      <ng-template let-option pTemplate="item">
        <div class="flex flex-row align-items-center gap-1">
          <div
            class="h-1rem w-1rem border-round-sm"
            [style.background]="option.color"
          ></div>
          <span>{{ option.name }}</span>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-button
          label="Adicione outro tipo"
          [text]="true"
          icon="pi pi-plus"
          styleClass="w-full h-2rem"
          (onClick)="showDialogRegistryType()"
        ></p-button>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="flex flex-column">
    <label>Valor</label>
    <p-inputNumber
      formControlName="price"
      placeholder="R$ 0,00"
      inputId="currency-us"
      mode="currency"
      currency="BRL"
      locale="en-US"
      styleClass="w-full"
    >
    </p-inputNumber>
  </div>

  <span>
    <label>Data</label>
    <p-calendar
      placeholder="Selecione uma data"
      formControlName="date"
      dateFormat="dd/mm/yy"
      styleClass="w-full"
      [appendTo]="'body'"
    ></p-calendar>
  </span>

  <div
    class="mt-4 w-full flex flex-row align-items-center justify-content-between gap-2"
  >
    @if(typeAction == 'register') {
    <p-button
      icon="pi pi-replay"
      severity="secondary"
      [text]="true"
      (onClick)="emitRegistry(true)"
      [pTooltip]="'Salvar e adicionar outra'"
    >
      <i class="pi pi-save"></i>
    </p-button>
    }

    <p-button
      icon="pi pi-save"
      label=" Salvar"
      [text]="true"
      [raised]="true"
      severity="secondary"
      (onClick)="
        typeAction == 'register' ? emitRegistry(false) : emitEditedRegistry()
      "
    ></p-button>
  </div>
</div>

<p-dialog
  [header]="'Cadastrar tipo'"
  [(visible)]="visible"
  [modal]="true"
  [maximizable]="false"
  [draggable]="false"
>
  <registry-type-form
    [user]="user"
    [registryCategory]="registryCategory"
    (registryTypeEmit)="createRegistryType($event)"
    (onHide)="getRegistryTypes()"
  ></registry-type-form>
</p-dialog>
