<div [formGroup]="registryForm" class="flex flex-column gap-4 h-auto">
  <span class="p-float-label">
    <input pInputText formControlName="description" class="w-full" />
    <label htmlFor="description">Description</label>
  </span>

  <div *ngIf="registryCategory === 1">
    <p-dropdown
      formControlName="type"
      [options]="expenseTypes"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full"
      placeholder="Expense Type"
    ></p-dropdown>
  </div>

  <div *ngIf="registryCategory === 2">
    <p-dropdown
      formControlName="type"
      [options]="incomeTypes"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full"
      placeholder="Income Type"
    ></p-dropdown>
  </div>

  <span class="p-float-label w-full flex flex-column">
    <p-inputNumber
      formControlName="price"
      inputId="currency-us"
      mode="currency"
      currency="USD"
      locale="en-US"
      styleClass="w-full"
    >
    </p-inputNumber>
    <label htmlFor="price">Price</label>
  </span>

  <p-calendar
    formControlName="date"
    placeholder="Date"
    dateFormat="dd/mm/yy"
    styleClass="w-full"
    [showIcon]="true"
    [appendTo]="'body'"
  ></p-calendar>

  <div
    class="w-full grid-nogutter formgrid p-fluid"
    *ngIf="typeAction == 'register'"
  >
    <p-button
      label="Register"
      styleClass="p-button p-button-raised col-12 mb-2"
      (onClick)="emitRegistry(false)"
    ></p-button>
    <p-button
      label="Register and register another"
      styleClass="p-button-text p-button-secondary p-button-raised col-12"
      (onClick)="emitRegistry(true)"
    ></p-button>
  </div>

  <div *ngIf="typeAction == 'edit'">
    <p-button
      label="Save"
      styleClass="p-button p-button-raised col-12"
      (onClick)="emitEditedRegistry()"
    ></p-button>
  </div>
</div>
