<div [formGroup]="registryForm" class="flex flex-column gap-1 h-auto">
  <span>
    <label>Descrição</label>
    <input
      pInputText
      formControlName="description"
      class="w-full"
      placeholder="Insira uma descrição"
    />
  </span>

  <div>
    <label>Tipo</label>
    <p-dropdown
      placeholder="Selecione um tipo"
      formControlName="type"
      [options]="registryCategory === 1 ? expenseTypes : incomeTypes"
      optionLabel="name"
      optionValue="id"
      styleClass="w-full"
    ></p-dropdown>
  </div>

  <span class="flex flex-column">
    <label>Valor</label>
    <p-inputNumber
      placeholder="R$ 0,00"
      formControlName="price"
      inputId="currency-us"
      mode="currency"
      currency="BRL"
      locale="en-US"
      styleClass="w-full"
    >
    </p-inputNumber>
  </span>

  <div>
    <label>Data</label>
    <p-calendar
      placeholder="Selecione uma data"
      formControlName="date"
      dateFormat="dd/mm/yy"
      styleClass="w-full"
      [appendTo]="'body'"
    ></p-calendar>
  </div>

  <div
    class="mt-4 w-full flex flex-row align-items-center justify-content-between gap-2"
  >
    @if(typeAction == 'register') {
    <p-button
      icon="pi pi-replay"
      severity="secondary"
      [text]="true"
      (onClick)="emitRegistry(true)"
      [pTooltip]="'Salvar e adicionar outra'"
    >
      <i class="pi pi-save"></i> 
    </p-button>
    }

    <p-button
      icon="pi pi-save"
      label=" Salvar"
      [text]="true"
      [raised]="true"
      severity="secondary"
      (onClick)="
        typeAction == 'register' ? emitRegistry(false) : emitEditedRegistry()
      "
    ></p-button>
  </div>
</div>
