<div
  class="h-screen w-full background-page flex align-items-center justify-content-center"
>
  <div class="w-20rem h-27rem bg-gray-50 p-3 border-round-lg">
    <div class="h-4rem">
      <p-button
        icon="pi pi-arrow-left"
        (onClick)="back()"
        styleClass="p-button-rounded p-button-text"
        class="back-btn"
      ></p-button>

      <div class="flex flex-row justify-content-center mb-2">
        <span class="text-2xl font-bold font-style adjust-position"
          >Cadastrar</span
        >
      </div>
    </div>

    <div [formGroup]="registerForm" class="flex flex-column gap-1 h-18rem">
      <span>
        <label>Nome</label>
        <input pInputText formControlName="name" class="w-full" />
      </span>

      <span>
        <label>Email</label>
        <input pInputText formControlName="email" class="w-full" />
      </span>

      <span>
        <label>Senha</label>
        <p-password
          [formControlName]="'password'"
          [toggleMask]="true"
          styleClass="w-full"
          [feedback]="false"
        ></p-password>
      </span>

      <span>
        <label>Confirmar senha</label>
        <p-password
          [formControlName]="'passwordConfirm'"
          [toggleMask]="true"
          styleClass="w-full"
          [feedback]="false"
        ></p-password>
      </span>
    </div>
    <p-button
      [pTooltip]="!registerForm.valid ? 'Fill in the fields' : ''"
      [disabled]="!registerForm.valid"
      label="Save"
      styleClass="p-button-raised col-12"
      class="btn-save"
      (onClick)="save()"
    ></p-button>
  </div>
</div>

<p-toast></p-toast>

<app-spinner *ngIf="showSpinner"></app-spinner>
