<div
  class="h-screen w-full background-page flex align-items-center justify-content-center"
>
  <p-card styleClass="w-20rem h-30rem">
    <div class="h-4rem">
      <p-button
        icon="pi pi-arrow-left"
        (onClick)="back()"
        styleClass="p-button-rounded p-button-text"
        class="back-btn"
      ></p-button>

      <div class="flex flex-row justify-content-center mb-2">
        <span class="text-2xl font-bold font-style adjust-position"
          >Register</span
        >
      </div>
    </div>

    <div [formGroup]="registerForm" class="flex flex-column gap-4 h-19rem">
      <span class="p-float-label">
        <input pInputText formControlName="name" class="w-full" />
        <label htmlFor="name">Name</label>
      </span>

      <span class="p-float-label">
        <input pInputText formControlName="email" class="w-full" />
        <label htmlFor="email">Email</label>
      </span>

      <!-- <span class="p-float-label">
        <input pInputText formControlName="cellphone" class="w-full" type="number">
        <label htmlFor="cellphone">Cellphone</label>
      </span> -->

      <span class="p-float-label w-full">
        <p-password
          [formControlName]="'password'"
          [toggleMask]="true"
          styleClass="w-full"
          [feedback]="false"
        ></p-password>
        <label for="password">Password</label>
      </span>

      <span class="p-float-label">
        <p-password
          [formControlName]="'passwordConfirm'"
          [toggleMask]="true"
          styleClass="w-full"
          [feedback]="false"
        ></p-password>
        <label for="passwordConfirm">Password Confirm</label>
      </span>
    </div>
    <p-button
      [pTooltip]="!registerForm.valid ? 'Fill in the fields' : ''"
      [disabled]="!registerForm.valid"
      label="Save"
      styleClass="p-button-raised col-12"
      class="btn-save"
      (onClick)="save()"
    ></p-button>
  </p-card>
</div>

<p-toast></p-toast>

<app-spinner *ngIf="showSpinner"></app-spinner>
