<div
  class="h-screen w-full bg-blue-100 flex align-items-center justify-content-center"
>
  <p-card styleClass="w-20rem h-30rem">
    <p-button
      icon="pi pi-arrow-left"
      (onClick)="back()"
      styleClass="p-button-rounded p-button-text"
      class="back-btn"
    ></p-button>

    <div class="flex flex-row justify-content-center">
      <span class="text-2xl font-bold font-style adjust-position"
        >Register</span
      >
    </div>

    <div [formGroup]="registerForm" class="flex flex-column gap-4 h-20rem">
      <span class="p-float-label">
        <input pInputText formControlName="name" class="w-full" />
        <label htmlFor="name">Name</label>
      </span>

      <span class="p-float-label">
        <input pInputText formControlName="email" class="w-full" />
        <label htmlFor="email">Email</label>
      </span>

      <span class="p-float-label">
        <input pInputText formControlName="cellphone" class="w-full" />
        <label htmlFor="cellphone">Cellphone</label>
      </span>

      <span class="p-float-label w-full">
        <p-password
          [formControlName]="'password'"
          [toggleMask]="true"
          styleClass="w-full"
        ></p-password>
        <label for="password">Password</label>
      </span>

      <span class="p-float-label">
        <p-password
          [formControlName]="'passwordConfirm'"
          [toggleMask]="true"
          styleClass="w-full"
        ></p-password>
        <label for="passwordConfirm">Password Confirm</label>
      </span>

      <p-button
        label="Save"
        styleClass="p-button-rounded col-12"
        (onClick)="save()"
      ></p-button>
    </div>
  </p-card>
</div>

<p-toast></p-toast>
