<p-table [value]="values" styleClass="col-12 p-0">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <span>{{title}}</span>
      <p-button icon="pi pi-plus" (onClick)="addButton()"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        *ngFor="let column of columns"
        [style.width]="column.width"
        [class]="getAlignmentClass(column)"
      >
        {{ column.header }}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-registry>
    <tr>
      <ng-container *ngFor="let column of columns; let last = last">
        <td
          [class]="getAlignmentClass(column)"
          *ngIf="!column.useTag"
          class="px-3 p-0"
        >
          {{ manipulateValue(registry[column.field], column) }}
        </td>
        <td
          [class]="getAlignmentClass(column)"
          *ngIf="column.useTag"
          class="px-1 p-0"
        >
          <p-tag
            [value]="manipulateValue(registry[column.field], column)"
          ></p-tag>
        </td>

        <td [class]="getAlignmentClass(column)" *ngIf="last" class="p-0">
          <div class="btns-field flex flex-row justify-content-end w-full">
            <p-button
              *ngFor="let action of actions"
              [icon]="action.icon"
              styleClass="p-button-text p-button-rounded "
              (click)="onRowClick(registry); action?.command()"
            ></p-button>
          </div>
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
