<div style="padding-left: 6px; padding-right: 6px">
  <div class="grid" style="margin-top: 1px;">
    <div class="col-12 sm:col-4" *ngFor="let card of cards">
      <div class="surface-card shadow-2 p-2 border-round" [class]="card.title == 'Despesas' ? 'card-box' : ''">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">{{
              card.title
            }}</span>
            <div class="text-900 font-medium text-xl {{ card.textColor }}">
              {{ card.value }}
            </div>
          </div>
          <div
            class="flex align-items-center justify-content-center {{
              card.bgColor
            }} border-round"
            style="width: 2rem; height: 2rem"
          >
            <i [ngClass]="card.icon"></i>
          </div>
        </div>
        <span class="text-{{ card.colorChangeValue }}-500 font-medium w-100"
          >{{ card.changeValue }}
        </span>
        <span class="text-500">{{ card.changeText }}</span>
      </div>
    </div>
  </div>
</div>
