<div class="container flex align-items-center justify-content-center h-screen">
  <p-card id="card-container" class="card-container">
    <div class="menu-bar px-1 flex flex-row justify-content-between align-items-center bg-gray-700">
      <div class="flex flex-row align-items-center text-white">
        <i class="pi pi-user " style="font-size: 13px"></i>
        <p class="ml-1 font-semibold" style="font-size: 14px" *ngIf="user">{{user.name}}</p>
      </div>

      <button class="logout-button" (click)="logout()" [pTooltip]="'Sair'"></button>
    </div>
    <router-outlet></router-outlet>
  </p-card>
</div>

<p-toast></p-toast>
