.img-item {
  cursor: pointer;
}

::ng-deep .container {
  width: 100%;
  position: relative;
  background-image: url("../../../assets/images/background-primary.webp");
  /* background-color: black; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0 !important;
}

::ng-deep .p-card .p-card-content {
  padding: 0 !important;
}

::ng-deep .p-card .p-card-body {
  padding: 0rem !important;
}

.menu-bar {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logout-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ff5f57;
  background-color: #ff5f57;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e81123;
}
