.img-item {
  cursor: pointer;
}

:host ::ng-deep {
  .container {
    width: 100%;
    position: relative;
    background-image: url("https://primefaces.org/cdn/primeng/images/dock/window.jpg");
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 0 !important;
  }

  .p-card .p-card-content  {
    padding: 0;
  }

  .p-card .p-card-body {
    padding: 0.1rem;
  }

}

