.management-container {
 display: flex;
 flex-direction: column;
}

/* Estilizando a barra de rolagem */
.management-container::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem vertical */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Estilizando a alça (thumb) da barra de rolagem */
.management-container::-webkit-scrollbar-thumb {
  background: #b4b4b4; /* Cor de fundo da alça */
  border-radius: 6px; /* Raio da borda da alça */
}

/* Estilizando a trilha (track) da barra de rolagem */
.management-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Cor de fundo da trilha */
}
