<div class="grid-nogutter w-full full-container" id="full-container">
  <app-analytics-values [cards]="cards"></app-analytics-values>

  <div class="management-container" id="management-container">
    <p-tabView (activeIndexChange)="activeIndexChange($event)">
      <p-tabPanel [headerStyle]="{ width: '33%' }">
        <ng-template pTemplate="header">
          <div class="w-full flex align-items-center justify-content-center">
            <i class="pi pi-list mr-2"></i>
            <span *ngIf="screenWidth > 576">Todos</span>
          </div>
        </ng-template>

        <app-table
          class="col-12"
          [values]="registries"
          [columns]="screenWidth > 800 ? columns : columnsSmallScreen"
          [actions]="actions"
          (valueSelected)="receiveRegistrySelected($event)"
          [registryCategory]="activeIndex"
          (addValue)="addRegistry($event)"
          (dateSelected)="receiveDateSelected($event)"
        ></app-table>
      </p-tabPanel>
      <p-tabPanel [headerStyle]="{ width: '33%' }">
        <ng-template pTemplate="header">
          <div class="w-full flex align-items-center justify-content-center">
            <i class="pi pi-arrow-down-left text-red-500 mr-2"></i>
            <span *ngIf="screenWidth > 576">Saídas</span>
          </div>
        </ng-template>

        <app-table
          class="col-12"
          [values]="expenses"
          [columns]="screenWidth > 800 ? columns : columnsSmallScreen"
          [actions]="actions"
          (valueSelected)="receiveRegistrySelected($event)"
          (addValue)="addRegistry($event)"
          [registryCategory]="activeIndex"
          (dateSelected)="receiveDateSelected($event)"
        ></app-table>
      </p-tabPanel>
      <p-tabPanel [headerStyle]="{ width: '33%' }">
        <ng-template pTemplate="header">
          <div class="w-full flex align-items-center justify-content-center">
            <i class="pi pi-arrow-up-right text-green-500 mr-2"></i>
            <span *ngIf="screenWidth > 576">Entradas</span>
          </div>
        </ng-template>

        <app-table
          class="col-12"
          [values]="incomes"
          [columns]="screenWidth > 800 ? columns : columnsSmallScreen"
          [actions]="actions"
          (valueSelected)="receiveRegistrySelected($event)"
          (addValue)="addRegistry($event)"
          [registryCategory]="activeIndex"
          (dateSelected)="receiveDateSelected($event)"
        ></app-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<p-dialog
  header="Header"
  [(visible)]="visible"
  [style]="{ width: widthDialog }"
  [draggable]="false"
  styleClass="h-auto"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span
      class="text-xl font-bold {{
        registryCategory == 1 ? 'text-red-400' : 'text-green-400'
      }}"
    >
      {{ typeAction == "edit" ? "Editar" : "Adicionar" }}
      {{ registryCategory == 1 ? "saída" : "entrada" }}
    </span>
  </ng-template>

  <br />

  <app-registry-form
    (registryEmit)="createRegistry($event)"
    (registryEdit)="updateRegistry($event)"
    [registryToEdit]="rowSelected"
    [typeAction]="typeAction"
    [user]="user"
    [registryCategory]="registryCategory"
    [date]="dateSelected"
  ></app-registry-form>
</p-dialog>

<p-toast></p-toast>

<app-spinner *ngIf="showSpinner"></app-spinner>
