.management-container::-webkit-scrollbar {
  width: 8px;
  height: 12px; 
}

.management-container::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 6px; 
}

.management-container::-webkit-scrollbar-track {
}

.management-container {
  overflow: scroll;
}

:host ::ng-deep {
  .p-tabview .p-tabview-panels {
    padding: 0rem;
  }
}
