<div class="grid-nogutter w-full" id="full-container">
  <app-analytics-values [cards]="cards"></app-analytics-values>

  <div class="management-container" id="management-container">
    <p-tabView (activeIndexChange)="activeIndexChange($event)">
      <p-tabPanel [headerStyle]="{ width: '33%' }">
        <ng-template pTemplate="header">
          <i class="pi pi-list mr-2"></i>
          <span>All</span>
        </ng-template>

        <app-table
          class="col-12"
          [values]="registries"
          [columns]="screenWidth > 800 ? columns : columnsSmallScreen"
          [actions]="actions"
          (valueSelected)="receiveRegistrySelected($event)"
          [registryCategory]="activeIndex"
          (addValue)="addRegistry($event)"
        ></app-table>
      </p-tabPanel>
      <p-tabPanel [headerStyle]="{ width: '33%' }">
        <ng-template pTemplate="header">
          <i class="pi pi-arrow-down-left text-red-500 mr-2"></i>
          <span>Expenses</span>
        </ng-template>

        <app-table
          class="col-12"
          [values]="expenses"
          [columns]="screenWidth > 800 ? columns : columnsSmallScreen"
          [actions]="actions"
          (valueSelected)="receiveRegistrySelected($event)"
          (addValue)="addRegistry($event)"
          [registryCategory]="activeIndex"
        ></app-table>
      </p-tabPanel>
      <p-tabPanel [headerStyle]="{ width: '33%' }">
        <ng-template pTemplate="header">
          <i class="pi pi-arrow-up-right text-green-500 mr-2"></i>
          <span>Incomes</span>
        </ng-template>

        <app-table
          class="col-12"
          [values]="incomes"
          [columns]="screenWidth > 800 ? columns : columnsSmallScreen"
          [actions]="actions"
          (valueSelected)="receiveRegistrySelected($event)"
          (addValue)="addRegistry($event)"
          [registryCategory]="activeIndex"
        ></app-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<p-dialog
  header="Header"
  [(visible)]="visible"
  [style]="{ width: '50vw' }"
  [draggable]="false"
>
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Header Content</span>
  </ng-template>

  <app-registry-form
    (registryEmit)="createRegistry($event)"
    (registryEdit)="updateRegistry($event)"
    [registryToEdit]="rowSelected"
    [typeAction]="typeAction"
    [user]="user"
    [registryCategory]="registryCategory"
  ></app-registry-form>
</p-dialog>

<p-toast></p-toast>
