.full-container {
  margin-top: -4px;
}

.management-container::-webkit-scrollbar {
  width: 7px; /* Largura da barra de rolagem vertical */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

.management-container::-webkit-scrollbar-thumb {
  background: #b4b4b4; /* Cor de fundo da alça */
  border-radius: 6px; /* Raio da borda da alça */
}

/* Estilizando a trilha (track) da barra de rolagem */
.management-container::-webkit-scrollbar-track {
}

.management-container {
  overflow: scroll;
  padding-left: 7px;
}

::ng-deep .p-tabview .p-tabview-panels {
  padding: 0rem !important;
}

::ng-deep .p-icon {
  color: white !important;
}
